body {
    background-color: lightgray;
}


h1 {
    color: black;
}

p {
    color: darkslategray;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 200px; /*also restricted by container*/
    line-height: 45px; /* white box height*/
   
    margin: 30px;
    text-align: center;

    font-size: 20px;
}

.flex-container {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;

    justify-content: center;
    /* horizontal center. aligns items at the center of container. also flex-start,flex-end,space-around,space between*/
    align-items: center;
    /*vertical center. also flex-end/start, stretch (default), baseline(of text)*/
    align-content: stretch;
    /* or space-around, stretch, center, flex-start, flex-end*/
}