body {
    background-color: lightgray;
}

* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    color: black;
}

p {
    color: darkslategray;
}

table,
th,
td {
    border: 2px solid;
}

.centeredHeader {

    margin: auto;
    width: 100%;
    max-width: 800px;
}


.centered {

    margin: auto;
    width: 100%;
    max-width: 800px;
}

.garfield {
    margin: auto;
    max-width: 800px;
    background-color: whitesmoke;
    border: solid, 2px, black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.garfield>div {

    margin: auto;
    max-width: 600px;
    background-color: whitesmoke;
    border: solid, 2px, black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sandBox {
    background-color: lightslategray;
    color: white;
    border: 2px solid black;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.objectTable {
    color: black;
    background-color: rgb(188, 201, 210);
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
    font-size: smaller;
}

.objectTable>th, td {
    padding: 10px;
  }


.mondrian {
    background-color: white;
    border: 4px solid black;
    border-collapse: collapse;
    width: 600px;
    height: 450px;


}
@media (max-width: 800px) {
  .centered>h1 {
        font-size:x-large;
    }
  .god>h1 {
        font-size:x-large;
      
    }

}

@media (max-width: 900px) {


    .god>h4 {
        font-size: small;
        
    }
    .centered>h4 {
        font-size: small;
    }

    .mondrian {
        width: 80%;
        height: 300px;
    }

    .navText {
        display: none;

    }
    .menu-container {
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
    }

    .menu-container>div {
        width: 100px;
        align-content: center;

    }

}

.menu-container>div {
    background-color: #f1f1f1;
    width: 200px;
    /*also restricted by container*/
    line-height: 45px;
    /* white box height*/

    margin: 10px;
    text-align: center;
    flex-wrap: nowrap;

    font-size: 20px;
}

.menu-container {
    /*background-color: rgb(84, 76, 195);*/
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 45px;

    justify-content: center;
    /* horizontal center. aligns items at the center of container. also flex-start,flex-end,space-around,space between*/
    align-items: center;
    /*vertical center. also flex-end/start, stretch (default), baseline(of text)*/
    align-content: stretch;
    /* or space-around, stretch, center, flex-start, flex-end*/

}



.animated {

    max-width: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

.animated>img {

    position: relative;
    animation-name: example;
    animation-duration: 4s;
    /*animation-timing-function: none;*/
    -webkit-animation-delay: 2s;
    /*not working atm??*/
    animation-delay: 2s;

}

@keyframes example {
    0% {
        left: 0px;
        transform: scalex(-1);
    }

    25% {
        left: 200px;
       
        
    }

    50% {
        left: 0px;
        transform: scalex(1);
    }

    75% {
        left: -200px;
        
    }

    100% {
        left: 0px;
        transform: scalex(-1);
    }
}


.gallery-container {
    background-color: rgb(50, 49, 49);
    margin: auto;
    max-width: 1000px;
}

.row {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: nowrap;
    padding: 5%;

}

.column {
    flex-direction: column;

    max-width: 33%;
    flex: 33%;
    padding: 5px;
    /* horizontal spacing of columns*/
    margin: 12px;
}

@media (max-width: 900px) {

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .row {

        flex-direction: row;
        flex-wrap: wrap;

    }
}


.column img {
    max-width: 100%;
    margin-bottom: 5px;

}

.imageBox {
    transition: 500ms ease-in-out 70ms;

    align-items: center;
    justify-content: center;

    background-color: #d6d6d6;

    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 2px;
    /*align-content: center;/*??*/
}

.imageBox:hover {
    margin: auto;
    transform: scale(1.3);

}

.about-container {
    margin: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 70% 20%;
    grid-gap: 0px;
}

@media (max-width: 900px) {

    .about-container {
        grid-template-columns: 60% min-content;
        padding: 3%;
    }

}

@media (max-width: 800px) {

    .about-container {
        grid-template-columns: 50% min-content;
        padding: 3%;
    }

}
@media (max-width: 600px) {

    .about-container {
        grid-template-columns: min-content min-content;
        padding: 3%;
    }

}



.weatherBox{
    width: 200px;
    margin-left: 40px;
    margin-top: 45px;
    margin-right: 15px;
    margin-bottom: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: smaller;

    background-color: #fff;
    border: 2px solid black;
}


.petFlexbox{
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    align-content: stretch;

}

.petcard{
    border: 2px solid black;
    background-color: #f1f1f1;
    width: 240px;
    min-height: 480px;
    padding: 10px;
    margin: 10px;
    line-height: 1.5;
    text-align: center;

}

.petcard>img{

    max-width: 200px;
    
}
