body {
    background-color: lightgray;
}

* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    color: black;
}

p {
    color: darkslategray;
}



.sandBox {
    background-color: lightslategray;
    color: white;
    border: 2px solid black;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.white {
    border: 1px solid white;
}


.mondrian {
    border: 4px solid black;
    background-color: white;
    width: 600px;
    height: 450px;
    border: 4px solid black;

}

.menu-container>div {
    background-color: #f1f1f1;
    width: 200px;
    /*also restricted by container*/
    line-height: 45px;
    /* white box height*/

    margin: 10px;
    text-align: center;
    flex-wrap: nowrap;

    font-size: 20px;
}

.menu-container {
    /*background-color: rgb(84, 76, 195);*/
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 45px;

    justify-content: center;
    /* horizontal center. aligns items at the center of container. also flex-start,flex-end,space-around,space between*/
    align-items: center;
    /*vertical center. also flex-end/start, stretch (default), baseline(of text)*/
    align-content: stretch;
    /* or space-around, stretch, center, flex-start, flex-end*/

}



.gallery-container {
    background-color: rgb(50, 49, 49);
    margin: auto;
    max-width: 1000px;
}

.row {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: nowrap;
    padding: 5%;

}

.column {
    flex-direction: column;

    max-width: 33%;
    flex: 33%;
    padding: 5px;
    /* horizontal spacing of columns*/
    margin: 12px;
}

@media (max-width: 900px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .row {

        flex-direction: row;
        flex-wrap: wrap;

    }
}


.column img {
    max-width: 100%;
    margin-bottom: 5px;

}

.imageBox {
    transition: 500ms ease-in-out 70ms;
    
    align-items: center;
    justify-content: center;

    background-color: #d6d6d6;

    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 2px;
    /*align-content: center;/*??*/
}

.imageBox:hover {
    margin: auto;
    transform: scale(1.3);

}